.vscode/**
.git/**
.gitignore
.vscodeignore
build.js
tsconfig.json
**/*.ts
**/*.map
**/*.tsbuildinfo

# Source code
client/src/**
server/src/**

# Exclude all node_modules (bundled by esbuild)
**/node_modules/**

# Exclude local compiler binaries
compiler/**

# Other dev files
contributing.md
.travis.yml
package-lock.json
**/package-lock.json