name: .NET Build and Release

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest
    env:
      PROJECT_PATH: './Vext.TestRunner/Vext.TestRunner.csproj'

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        
    - name: Restore dependencies
      run: dotnet restore ${{ env.PROJECT_PATH }}

    - name: Build
      run: dotnet build ${{ env.PROJECT_PATH }} --configuration Release --no-restore

    - name: Publish TestRunner
      run: dotnet publish ${{ env.PROJECT_PATH }} -c Release -r win-x64 --self-contained true -p:PublishAot=true -o ./publish

    - name: Rename TestRunner executable
      shell: pwsh
      run: |
        $newExe = "Vext-v${{ github.run_number }}.exe"
        Rename-Item ./publish/Vext.TestRunner.exe -NewName $newExe

    - name: Zip entire publish folder (including renamed exe)
      shell: pwsh
      run: |
        $newExe = "Vext-v${{ github.run_number }}.exe"
        Compress-Archive -Path ./publish/* -DestinationPath ./publish/Vext-v${{ github.run_number }}.zip -Force

    - name: Create GitHub Release and Upload Assets
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v${{ github.run_number }}
        name: Vext Build v${{ github.run_number }}
        draft: false
        prerelease: false
        make_latest: true
        generate_release_notes: true
        files: |
          ./publish/Vext-v${{ github.run_number }}.exe
          ./publish/Vext-v${{ github.run_number }}.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
